## direnv: machine-specific settings
# https://direnv.net/

## fswatch

# WSL
#export FSWATCHFLAGS='--monitor=poll_monitor'

## Python

# WSL
#export PIP=pip3
#export PYTHON=python3


## SoundCloud

# https://soundcloud.com/you/apps
# https://secure.soundcloud.com/oauth/token
export SOUNDCLOUD_CLIENT_NAME='client-name-from-envrc-local'
export SOUNDCLOUD_CLIENT_ID='client-id-from-envrc-local'
export SOUNDCLOUD_CLIENT_SECRET='client-secret-from-envrc-local'

# https://<soundcloud api>/users/6646206/tracks?client_id=...
export SOUNDCLOUD_USER_ID='soundcloud-user-id-from-envrc-local'
export SOUNDCLOUD_USER_URN='soundcloud-user-urn-from-envrc-local'
