# https://github.com/direnv/direnv/blob/master/man/direnv-stdlib.1.md#source_up-filename
source_up .envrc

# Activate virtualenv, for use of project-specific python and libraries
# https://github.com/direnv/direnv/blob/master/man/direnv-stdlib.1.md#layout-pipenv
layout pipenv
dotenv .env
