[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
flake8 = "*"
pipenv-setup = "*"
vistir = "==0.6.1" #Compatibility with pipenv-setup: https://github.com/Madoshakalaka/pipenv-setup/issues/138#issuecomment-1276368448

[requires]
python_version = "3.13"

[scripts]
lint-flake8 = 'flake8 --max-line-length=120 --ignore=E402,F401,E126,E128'
main = 'python sode.py'
setup-check = 'pipenv-setup check --strict'
setup-sync = 'pipenv-setup sync --dev'
