[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pipenv]
sort_pipfile = true

[packages]

[dev-packages]
black = "*"
build = "*"
isort = "*"
setuptools = "*"

[requires]
python_version = "3.13"

[scripts]
black-check = 'black --check sode'
black-format = 'black sode'
isort-check = 'isort --check sode'
isort-format = 'isort sode'
sode-cli = { call = "sode.cli:main()" }
