[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[scripts]
flake8 = 'flake8 --max-line-length=120'
test = 'pytest -rA --strict-markers'
test-focus = 'pytest -m focus -rA --strict-markers'
